body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  backdrop-filter: blur(3px);
  min-height: 100vh;
  background-size: cover;
  background-color: rba(0, 0, 0, 0.4);
  background-image: url("../Assets/Background.avif");
}

.container {
  width: 850px;
  background-color: #fefefe94;
  display: flex;
  align-items: center;   
  justify-content: center; 
  gap: 70px; 
  padding: 60px 40px;
  border-radius: 10px;

}
.hangman-box img{
  font-size: 1.45rem;
  margin-top: 20px;
  text-align:center;
  text-transform: uppercase;
}

.word-display{
  display: flex;
  list-style: none;
  gap:10px;
  align-items: center;
  justify-content: center;


}
.keyboard button[disabled]{
  opacity: 0.6;
}
.word-display .letter{
  width: 28px;
  border-bottom: 3px solid #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;


}
.word-display .letter.guessed{
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box h4{
 text-align: center;
 font-size: 1.1rem;
 font-weight: 500;
 margin-bottom: 15px;
}

.game-box h4 p {
  font-weight: 600;
}

.game-box .guesses-text span{
  color: red;
}

.game-box .keyboard{
  display: flex;
  gap:5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px ;
}
.keyboard button{
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 8px;
  background: rgba(255, 124, 157, 0.8);
  border-radius: 4px;
  text-transform: uppercase;
  width: calc(100% / 9 - 5px);
  margin: 2px

}

.keyboard button:hover{
  background: rgb(0, 0, 0);
}

.game-model{
  position: fixed;
  left: 0;
  top:0;
  display: none;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  transition: opacity 0.4s,ease;
}
.game-model.show{
  opacity: 1;
  pointer-events: auto;
  display:flex;
}
.game-model .content
{
background:white ;
max-width: 420px;
width: 100%;
text-align: center;
border-radius: 10px;
padding: 30px;
}

.game-model .content img{
  max-width: 120px;
  margin-bottom: 20px;
}


.play-again {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #ce9fcb;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.play-again:hover {
  background:   #fdf2ca;
  transform: scale(1.05);
}

.play-again:active {
  transform: scale(0.95);
}
.game-model h4{
font-size: 1.53rem;
}


.game-model p{
  font-size: 1.15rem;
  margin: 15px 0px 30px;
  font-weight: 500;
  }

  .game-model p b{
    color:pink;
  font-weight: 500;
  }


  .game-model button{
    padding: 12px 23px;

  }

 